[JagrmiDB]
min_size.int = 1
max_size.int = 1
host = ec2-23-23-245-89.compute-1.amazonaws.com
port = 5432
database = d6ju35i6q975s2
user = wqjisiunyceuzk
password = 11a445e72f65045384ecb90d1c00cb0ae35310603105b3d8f1fd963f0626b622

[JagrmiDBTest]
min_size.int = 1
max_size.int = 1
host = localhost
port = 5432
database = family
user = andrei
password = test
